node_modules/
.vscode/
.DS_Store
.idea/

# iOS generated
ios/Pods/
ios/build/
ios/DerivedData/

# Android generated
android/build/
android/.gradle/
android/app/build/

# Metro
.metro-health-check*

# Build artifacts
*.jsbundle

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
.venv/

# Environment variables
.env
.env.*
!.env.example

# Session artifacts written by the phone via /exports/session
ios/zeticllmreactnativetemplate.xcworkspace/xcuserdata/sharanasabesan9.xcuserdatad/UserInterfaceState.xcuserstate/